{% extends "base.html" %}

{% block title %}Map - Election Results{% endblock %}

{% block body %}
    <embed id="mapObject" type="image/svg+xml" src="/static/pk.svg?14474911" class="map" width="100%" height="100%">
    <hr>
    {% if const %}
    <div class="map-details">
        <div class="cross">X</div>
        <h1 class="text-center">{{const}}</h1>
        <div class="container">
                <div class="row text-center">
                    <div class="col-md-3 bold">Candidate</div>
                    <div class="col-md-3 bold">Party</div>
                    <div class="col-md-3 bold">Votes</div>
                </div><br>
            {% for item in results %}
                <div class="row text-center">
                    <div class="col-md-3">{{item.candidate}}</div>
                    <div class="col-md-3">{{item.party}}</div>
                    <div class="col-md-3">{{item.votes}}</div>
                </div><br><br>
            {% endfor %}
        </div>
    </div>
    {% endif %}

{% endblock %}


{% block scripts %}
<script>

window.addEventListener("load", function () {
    magic();
    setTimeout(otherOperation, 5000);
}, false);

function otherOperation() {}
    
function magic() {
    console.log("fone");


    // Get the Object by ID
    var a = document.getElementById("mapObject");
    // Get the SVG document inside the Object tag
    var svgDoc = a.getSVGDocument();
    // Get one of the SVG items by ID;
    //var svgItem = svgDoc.getElementById("NA-244");
    var live = svgDoc.getElementById("live");
    // Set the colour to something else
    //svgItem.style.fill = "yellow";
    var con_num = svgDoc.getElementById("con_num");
    var area = svgDoc.getElementById("area");
    var winner = svgDoc.getElementById("winner");
    var dot = svgDoc.getElementById("dot");

    con_num.textContent = "";
    area.textContent = "";
    winner.textContent = "";
    dot.style.fill = "white";

    setTimeout(function() {
        setInterval(function() {
            live.style.fill = "#ff2727";
        }, 1000);
    }, 500);

    setInterval(function() {
        live.style.fill = "#cc0000";
    }, 1000);

    // LIVE DATA
    function fetchdata(){
     $.ajax({
      url: '/colors/',
      type: 'get',
      success: function(response){
       // Perform operation on the return value
       //console.log(response);
        let data = JSON.parse(response);

        jQuery.each(data, function(i, item) {
            var constituency = data[i].constituency;
            var consti = svgDoc.getElementById(constituency);

            consti.style.fill = data[i].color;
            consti.cursor = "pointer";

            consti.onmouseenter = function(){
                //consti.style.opacity=0.6;
                consti.style.stroke=data[i].color;
                con_num.textContent = constituency;
                area.textContent = data[i].area;
                dot.style.fill = data[i].color;
                winner.textContent = data[i].candidate +" ("+data[i].party+")";
                
            };
            consti.onmouseout = function(){
                consti.style.opacity=1;
                consti.style.stroke="none";
                con_num.textContent = "";
                area.textContent = "";
                dot.style.fill = "white";
                winner.textContent = "";
            };
            consti.onclick = function () {
                window.location.href = '/map/'+constituency;
                con_num.textContent = constituency;
            };
        })


      }
     });
    }

    fetchdata();

    $(document).ready(function(){
     setInterval(fetchdata,1000);
    });

    $(".cross").click(function(){
         $(".map-details").hide();
    });

}
</script>
{% endblock %}