{% extends "base.html" %}

{% block title %}Party Positions - Election Results{% endblock %}

{% block head %}
    <meta http-equiv="refresh" content="300">
{% endblock %}

{% block body %}

    <div class="row text-center">
        <h3 class="bold">Party Position - National Assembly</h3><hr>
        {% for num, party in parties | sort(reverse = True)  %}
            <div class="col-md-2 col-sm-3 col-xs-4" style="border:2px solid {{get_color(party)}};border-bottom:9px solid {{get_color(party)}};">
                
                <div class="col-md-6">
                    <h4 class="bold">{{party | replace('-Q','')}}</h4>
                </div>
                <div class="col-md-6">
                    <h4 class="bold">{{num}}</h4>
                </div>
            </div>
        {% endfor %}
            <div class="col-lg-12 col-md-6 col-sm-3 col-xs-12" style="border:2px solid #016f3a;border-bottom:9px solid #016f3a;">
                
                <div class="col-md-6">
                    <h4 class="bold">Total</h4>
                </div>
                <div class="col-md-6">
                    <h4 class="bold">{{total}}</h4>
                </div>
            </div>
    </div><hr>

{% endblock %}


{% block scripts %}

{% endblock %}